<%- include('partials/header'); %>
<div class="container">
	<header class="jumbotron">
	  <h1 class="display-4">Welcome to Om Nom Nom!</h1>
	  <p class="lead">Find and share delicious recipes</p>
	  <a class="btn btn-primary btn-lg" href="#" role="button">Submit New Recipe</a>
	</header>
</div>

<%- include('partials/footer'); %>