<%- include('partials/header'); %>


<form action="/register" method="POST" class="tt-short-form bg-light border p-4">
	<h1>Register</h1>
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" name="username" class="form-control" id="username">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" class="form-control" id="password">
	</div>
	<div class="form-group">
		<button class="btn btn-primary btn-lg btn-block">Sign Up</button>
	</div>
</form>

<%- include('partials/footer'); %>