/* ==========================================================================
   Header
   ========================================================================== */

.navbar {
	background-color: #F0AB8D;
}

.navbar-brand img {
	width: 70px;
	height: 70px;
}

.navbar-brand {
	font-size: 1.4em;
	display: flex;
	align-items: center;
}

.navbar-brand span {
	margin-left: .5em;
	opacity: .8;
}

.navbar-brand span:hover {
	opacity: 1;
}

/* ==========================================================================
   Main body of document
   ========================================================================== */

/* Recipes page
   ========================================================================== */

.card img {
	height: 200px;
}

.card-container {
	margin: .5rem 0;
}

@media (min-width: 768px) {
	.card-container {
		margin: 1rem 0;
	}
}

/* Add Recipes Page
   ========================================================================== */

#add-recipe-form [type="submit"] {
	background-color: #F0AB8D;
}

#add-recipe-form [type="submit"]:hover {
	background-color: #C05E57;
}