/* ==========================================================================
   Misc.
   ========================================================================== */

html, body {
	height: 100%;
}

.wrapper {
	margin: 1.5rem auto;
	flex: 1 0 auto;
}

/* ==========================================================================
   Header
   ========================================================================== */

.navbar-brand img {
	width: 70px;
	height: 70px;
}

.navbar-brand {
	font-size: 1.4em;
	display: flex;
	align-items: center;
}

.navbar-brand span {
	margin-left: .5em;
	opacity: .8;
}

.navbar-brand span:hover {
	opacity: 1;
}

/* ==========================================================================
   Main body of document
   ========================================================================== */

/* Recipes Index Page
   ========================================================================== */

.index-card {
	width: 100%;
}

.tt-img-container img {
	max-width: 100%;
}

.card-container {
	margin: .5rem 0;
}

@media (min-width: 768px) {
	.card-container {
		margin: 1rem 0;
	}
	
	.index-card .tt-img-container {
		height: 200px;
		overflow: hidden;
	}
}

/* Add Recipes Page
   ========================================================================== */


@media (min-width: 992px) {
	.tt-form {
		margin: 0 auto;
		width: 70%;
	}

	.tt-short-form {
		margin: 0 auto;
		width: 50%;
	}
}

/* Recipe Show Page
   ========================================================================== */

.timer-icon {
	width: 25px;
	height: 25px;
}

.printer-btn img {
	width: 25px;
	height: 25px;
}

.comments {
	background: #F8FCFC;
	border-top: 1px solid rgba(0,0,0,.125);
}

.delete-form {
	display: inline;
}

/* Sidebar
   ========================================================================== */

aside {
	margin-top: 1rem;
}

aside .card a {
	color: #999;
}

aside .card a:hover {
	color: #666;
}

@media (min-width: 992px) {
	aside {
		margin-top: 0;
	}

	aside .card a {
		font-size: 1em;
	}
	
	aside h2 {
		font-size: 1.5rem;
	}

}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	flex-shrink: 1;
}

footer a {
	color: white;
}

footer a:hover {
	color: white;
}